.bg-nav-first-screen {
    background-color: #181818;
    height: 75px;
}

.display-flex-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 102px;
    margin: 0 auto;
    height: 35px;
    padding-top: 10%;
}
.nav-display-flex {
    padding: 23px 0px 23px 0;
    display: flex;
    width: 565px;
    height: 30px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    opacity: 69%;
}
.bg-content {
    background-image: url('./../../../public/backgrounFirstScreen.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 729px;
}

.bg-icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 25px;
  min-width: 25px;
}

.githab {
    background-image: url('./../../../public/githab.png');
}
.telegram {
    background-image: url('./../../../public/telegram.png');
}

 .instagram {
    background-image: url('./../../../public/Instagram.png');
}

.h1-content-first-screen {
    color: #fff;
    font-size: 68px;
    text-align: center;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    width: 49%;
    margin: 0 auto;
    padding: 12% 0px 10px 0px;
}

.text-content-first-screen {
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    color: #8EFF58;
    font-weight: bold;
}