.bg-color-about-me {
    background-color: #181818;
}

.container-about-me {
    width: 1060px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.block-about-me {
    color: #FFF;
    height: 575px;
    background-image: url('./../../../public/bg-about-me-block.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.h2-about-me {
    font-size: 36px;
    font-weight: 900;
    border-bottom: 5px solid #8EFF58;
    width: 185px;
}

.text-about-me {
    opacity: 70%;
    padding-left: 140px;
    padding-top: 37px;
}

.content-block-about-me {
    padding-top: 253px;
    padding-left: 137px;

}

.pointer {
    background-image: url('./../../../public/point-about-me.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55px;
    width: 55px;

}
.btn-more {
    padding-left: 700px;
    padding-top: 45px;
    display: flex;
    align-items: center;
    color: #FFF;
    opacity: 70%;
    font-size: 20px;
}

.btn-more:hover {
    cursor: pointer;
    opacity: 100%;

}
.btn-more-text {
    padding-left: 10px;
}
