* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color:white;
  }
  
h2 {
  font-size: 36px;
  font-weight: 900;
}

h3 {
  font-size: 24px;
  font-weight: 900;
}

p {
  opacity: 70%;
}

.container-about-me {
  width: 1060px;
  margin: 0 auto;
  padding-top: 80px;
}

.block-about-me {
  color: #FFF;
  height: 575px;
  background-image: url('./../public/bg-about-me-block.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.h2-about-me {
  font-size: 36px;
  font-weight: 900;
  border-bottom: 5px solid #8EFF58;
  width: 185px;
}

.text-about-me {
  opacity: 70%;
  padding-left: 140px;
  padding-top: 37px;
  width: 80%;
}

.content-block-about-me {
  padding-top: 253px;
  padding-left: 137px;

}

.pointer {
  background-image: url('./../public/point-about-me.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55px;
  width: 55px;

}
.btn-more {
  padding-left: 700px;
  padding-top: 45px;
  display: flex;
  align-items: center;
  color: #FFF;
  opacity: 70%;
  font-size: 20px;
}

.btn-more:hover {
  cursor: pointer;
  opacity: 100%;

}
.btn-more-text {
  padding-left: 10px;
}

.bg-nav-first-screen {
  background-color: #181818;
  height: 75px;
}


.display-flex-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 102px;
  margin: 0 auto;
  height: 35px;
  padding-top: 10%;
}
.nav-display-flex {
  padding: 23px 0px 23px 0;
  display: flex;
  width: 565px;
  height: 30px;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  opacity: 69%;
}
.bg-content {
  background-image: url('./../public/backgrounFirstScreen.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 729px;
}

.bg-icon {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 25px;
min-width: 25px;
}

.githab {
  background-image: url('./../public/githab.png');
}
.telegram {
  background-image: url('./../public/telegram.png');
}

.instagram {
  background-image: url('./../public/Instagram.png');
}

.h1-content-first-screen {
  color: #fff;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  width: 49%;
  margin: 0 auto;
  padding: 12% 0px 10px 0px;
}

.text-content-first-screen {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  color: #8EFF58;
  font-weight: bold;
}

.bg-color {
  background-color: #181818;
}



.container {
  width: 1060px;
  margin: 0 auto;
  padding-top: 80px;
}

.h2-center {
  margin: 0 auto;
  width: 352px;
  text-align: center;
}

.display-flex-my-skills-items {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.item-my-skills {
  width: 20%;
  text-align: center;
}

.skill-header {
  margin-top: 12px;
  margin-bottom: 15px;
}

.skill-item-text {
  font-size: 18px;
}

.last-tasks-content {
 
}

.display-flex {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.display-flex-task {
  display: flex;
  justify-content:space-between;
  width: 309px;
  align-items: center;
  margin-top: 15px;
}

.content {
  margin-top: 80px;
}

.last-task-text {
  margin-top: 36px;
  margin-bottom: 77px;
}

.w-20 {
  width: 20%;
  
}

.p-70 {
  padding-top: 70px;
}

.input-cred {
  width: 500px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 17px;
}

.form-style {
  padding-top: 60px;
  padding-bottom: 80px;
}

.input-comment {
  width: 870px;
  height: 162px;
  border-radius: 20px;
}

.button-form {
  display: flex;
  height: 80px;
  align-items: center;
  width: 100%;
  border: 2px solid #8EFF58;
  border-radius: 20px;
}

.center {
  margin: 0 auto;
  width: 114px;
}

.contacts {
  padding-bottom: 80px;
}

.bg-color-footer {
  background-color: #fff;
}

.footer-content {
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  width: 565px;
  margin: 0 auto;
}

.footer-element {
  color:#181818

}